<a href="https://colab.research.google.com/github/Vandrade85/FIAP_data_engineering_bootcamp/blob/main/Bootcamp_Data_Engineering_Exercicios_Van.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Temos duas bases de dados pessoais (fictícios)


*   cadastro.csv (dados de cadastro)
*   dados_medicos.csv (registros médicos)

Temos que unificar as duas bases e criar uma nova base agrupada

Código localizado em https://github.com/renzoziegler/data_engineering_bootcamp

Exercício 1:


*   Importar o Pandas
*   Instalar e importar a biblioteca fuzzywuzzy (será importante mais pra frente)
*   Ler os arquivos CSV fornecidos
** https://raw.githubusercontent.com/renzoziegler/data_engineering_bootcamp/main/cadastro.csv
** https://raw.githubusercontent.com/renzoziegler/data_engineering_bootcamp/main/dados_medicos.csv
*   Realizar uma análise exploratória dos dados

In [50]:
## Instalação das bibliotecas
!pip install pandas
!pip install fuzzywuzzy

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.10/dist-packages (0.18.0)

In [51]:
## Importação das bibliotecas
import pandas as pd
from fuzzywuzzy import fuzz

Para análise exploratória, vamos entender as bases de dados: seu tamanho, quais dados estão disponíveis, qual o formato deles, se estão completos ou não.....

In [94]:
# URLs dos arquivos no GitHub
url_cadastro = "https://raw.githubusercontent.com/Vandrade85/FIAP_data_engineering_bootcamp/main/cadastro.csv"
url_dados_medicos = "https://raw.githubusercontent.com/Vandrade85/FIAP_data_engineering_bootcamp/main/dados_medicos.csv"

# Carregar os arquivos em dataframe
df_cadastro = pd.read_csv(url_cadastro)
df_dados_medicos = pd.read_csv(url_dados_medicos)

# Exibir as primeiras 5 linhas
print("Dados de Cadastro (primeiras 5 linhas):")
print(df_cadastro.head().to_string(index=False))

print("\nDados Médicos (primeiras 5 linhas):")
print(df_dados_medicos.head().to_string(index=False))

Dados de Cadastro (primeiras 5 linhas):
                           nome  data_nasc         cpf                    mae   celular                                                                 email  telefone_fixo
            Cauã Isaac Caldeira 02-03-1945 35083528118 Vitória Kamilly Sueli  989048340               cauaisaaccaldeira__cauaisaaccaldeira@hardquality.com.br       28317237
    Lúcia Carolina Luzia Almada 11-11-1946  6480417194     Stefany Teresinha  997275887                                luciacarolinaluziaalmada_@santarte.com       27446850
    Vicente Marcos Edson Castro 15-01-1959 72192158432 Cecília Laura Larissa  994560743                          vicentemarcosedsoncastro-74@lavorosjc.com.br       28581372
    Yago Pedro Henrique da Cruz 24-10-1945 68328310562      Cristiane Pietra  982340551                      yagopedrohenriquedacruz_@elevaconsultancy.com.br       25189906
Valentina Stefany Alana Cardoso 23-03-1953 76298423761     Francisca Adriana  999976430 valentinastefanyalanacardoso..valentinastefanyalanacardoso@galvao.com       26584091

Dados Médicos (primeiras 5 linhas):
                       nome  data_nasc         cpf tipo_sanguineo  peso altura
   Alice Liz Adriana Duarte 22/10/1975 58548099313             O-    89   1,57
            Kaue César Lima 01/01/1900 31515413217            AB-    62   1,99
Otávio Felipe Henry Almeida 10/01/1951 58271711156             A-    85   1,66
   Rafaela Francisca Mendes 07/11/1974 31087464641             O+    46   1,74
 Bryan Joaquim Roberto Rosa 07/09/1957 61606247174            AB-    66   1,67

In [68]:
# Qdt linhas, qdt colunas
print(df_cadastro.shape)
print(df_dados_medicos.shape)

(393, 7)
(368, 6)

In [69]:
#Possiveis combinaçoes
resultado = 393 * 368 ## Qdt de linhas do cadastro x a qdt de linhas dos dados medicos
print(resultado)

144624

In [70]:
print("\nCadastro")
print(df_cadastro.dtypes)

print("\nDados Medicos")
print(df_dados_medicos.dtypes)

Cadastro
nome             object
data_nasc        object
cpf               int64
mae              object
celular           int64
email            object
telefone_fixo     int64
dtype: object

Dados Medicos
nome              object
data_nasc         object
cpf                int64
tipo_sanguineo    object
peso               int64
altura            object
dtype: object

Exercício 2: Pré-processamento
*   Quais tarefas vocês listam como necessárias?
 *  Padronização de campos
 *  Substituir valores
 *  Retirar caracteres especiais
*   Listar e executar!

PADRONIZAÇÃO DO CADASTRO

In [106]:
# Renomear as colunas para letras minúsculas e alterar o espaço por _
df_cadastro.columns = df_cadastro.columns.str.lower().str.replace(' ', '_')

# Subistituir valores texto para desconhecido caso não e exista e valor 0 para valores númericos
df_cadastro.fillna({
    'nome': 'DESCONHECIDO',
    'mae': 'DESCONHECIDO',
    'cpf': 0 ,
    'celular': 0,
    'email': 'DESCONHECIDO'
    }, inplace=True)

# Tabela de mapeamento para remoção de acentuação
accents_mapping = {
    'ã': 'a', 'â': 'a', 'á': 'a', 'à': 'a', 'ä': 'a',
    'ê': 'e', 'é': 'e', 'è': 'e', 'ë': 'e',
    'î': 'i', 'í': 'i', 'ì': 'i', 'ï': 'i',
    'ô': 'o', 'ó': 'o', 'ò': 'o', 'ö': 'o',
    'û': 'u', 'ú': 'u', 'ù': 'u', 'ü': 'u',
    'ç': 'c'
}

def remove_accents(text):
    for accent, replacement in accents_mapping.items():
        text = text.replace(accent, replacement)
    return text

# Aplicar a remoção de acentuação
text_columns = ['nome', 'mae']
for col in text_columns:
    df_cadastro[col] = df_cadastro[col].apply(remove_accents)
    df_cadastro[col] = df_cadastro[col].str.replace(r'[^\w\s]', '', regex=True)

# Alterar colunas com informações em texto para maiusculas
categorical_columns = ['nome', 'mae']
for col in categorical_columns:
    if col in df_cadastro.columns:
        df_cadastro[col] = df_cadastro[col].str.upper()

# Criar coluna com nome e sobrenome
df_cadastro['nome_array'] = df_cadastro.nome.str.split()
df_cadastro['primeiro_nome'] = df_cadastro.nome_array.str[0]
df_cadastro['sobrenome'] = df_cadastro.nome_array.str[-1]

# Converter o campo 'cpf' para string e preencher com zeros à esquerda para garantir 11 caracteres
if 'cpf' in df_cadastro.columns:  # Verifica se a coluna existe no DataFrame
    df_cadastro['cpf'] = df_cadastro['cpf'].astype(str).str.zfill(11)

# Converter a coluna 'data_nasc' para o tipo datetime
df_cadastro['data_nasc'] = pd.to_datetime(df_cadastro['data_nasc'], format='%d/%m/%Y')

# Criar coluna com ano, mês e dia separados
df_cadastro['nasc_ano'] = df_cadastro['data_nasc'].dt.year
df_cadastro['nasc_mes'] = df_cadastro['data_nasc'].dt.month.apply(lambda x: f'{x:02d}')
df_cadastro['nasc_dia'] = df_cadastro['data_nasc'].dt.day.apply(lambda x: f'{x:02d}')

# Exibir as primeiras 5 linhas
print("DataFrame após pré-processamento:")
print(df_cadastro.head().to_string(index=False))

DataFrame após pré-processamento:
                           nome  data_nasc         cpf                    mae   celular                                                                 email  telefone_fixo                           nome_array primeiro_nome sobrenome  nasc_ano nasc_mes nasc_dia
            CAUA ISAAC CALDEIRA 1945-03-02 35083528118 VITORIA KAMILLY SUELI  989048340               cauaisaaccaldeira__cauaisaaccaldeira@hardquality.com.br       28317237              [CAUA, ISAAC, CALDEIRA]          CAUA  CALDEIRA      1945       03       02
    LUCIA CAROLINA LUZIA ALMADA 1946-11-11 06480417194     STEFANY TERESINHA  997275887                                luciacarolinaluziaalmada_@santarte.com       27446850     [LUCIA, CAROLINA, LUZIA, ALMADA]         LUCIA    ALMADA      1946       11       11
    VICENTE MARCOS EDSON CASTRO 1959-01-15 72192158432 CECILIA LAURA LARISSA  994560743                          vicentemarcosedsoncastro-74@lavorosjc.com.br       28581372     [VICENTE, MARCOS, EDSON, CASTRO]       VICENTE    CASTRO      1959       01       15
    YAGO PEDRO HENRIQUE DA CRUZ 1945-10-24 68328310562      CRISTIANE PIETRA  982340551                      yagopedrohenriquedacruz_@elevaconsultancy.com.br       25189906    [YAGO, PEDRO, HENRIQUE, DA, CRUZ]          YAGO      CRUZ      1945       10       24
VALENTINA STEFANY ALANA CARDOSO 1953-03-23 76298423761     FRANCISCA ADRIANA  999976430 valentinastefanyalanacardoso..valentinastefanyalanacardoso@galvao.com       26584091 [VALENTINA, STEFANY, ALANA, CARDOSO]     VALENTINA   CARDOSO      1953       03       23

PADRONIZAÇÃO DOS DADOS MÉDICOS

In [104]:
# Renomear as colunas para letras minúsculas e alterar o espaço por _
df_dados_medicos.columns = df_dados_medicos.columns.str.lower().str.replace(' ', '_')

# Subistituir valores texto para desconhecido caso não e exista e valor 0 para valores númericos
df_dados_medicos.fillna({
    'nome': 'DESCONHECIDO',
    'mae': 'DESCONHECIDO',
    'cpf': 0 ,
    'celular': 0,
    'email': 'DESCONHECIDO'
    }, inplace=True)

# Tabela de mapeamento para remoção de acentuação
accents_mapping = {
    'ã': 'a', 'â': 'a', 'á': 'a', 'à': 'a', 'ä': 'a',
    'ê': 'e', 'é': 'e', 'è': 'e', 'ë': 'e',
    'î': 'i', 'í': 'i', 'ì': 'i', 'ï': 'i',
    'ô': 'o', 'ó': 'o', 'ò': 'o', 'ö': 'o',
    'û': 'u', 'ú': 'u', 'ù': 'u', 'ü': 'u',
    'ç': 'c'
}

def remove_accents(text):
    for accent, replacement in accents_mapping.items():
        text = text.replace(accent, replacement)
    return text

# Aplicar a remoção de acentuação
text_columns = ['nome']
for col in text_columns:
    df_dados_medicos[col] = df_dados_medicos[col].apply(remove_accents)
    df_dados_medicos[col] = df_dados_medicos[col].str.replace(r'[^\w\s]', '', regex=True)

# Alterar colunas com informações em texto para maiusculas
categorical_columns = ['nome']
for col in categorical_columns:
    if col in df_dados_medicos.columns:
        df_dados_medicos[col] = df_dados_medicos[col].str.upper()

# Criar coluna com nome e sobrenome
df_dados_medicos['nome_array'] = df_dados_medicos.nome.str.split()
df_dados_medicos['primeiro_nome'] = df_dados_medicos.nome_array.str[0]
df_dados_medicos['sobrenome'] = df_dados_medicos.nome_array.str[-1]

# Converter o campo 'cpf' para string e preencher com zeros à esquerda para garantir 11 caracteres
if 'cpf' in df_dados_medicos.columns:  # Verifica se a coluna existe no DataFrame
    df_dados_medicos['cpf'] = df_dados_medicos['cpf'].astype(str).str.zfill(11)

# Converter a coluna 'data_nasc' para o tipo datetime
def parse_date(date_str):
    formats = ['%d/%m/%Y', '%d-%m-%Y']
    for fmt in formats:
        try:
            return pd.to_datetime(date_str, format=fmt)
        except ValueError:
            continue
    return pd.NaT  # Retorna NaT para formatos não reconhecidos

df_dados_medicos['data_nasc'] = df_dados_medicos['data_nasc'].apply(parse_date)

# Converter a coluna 'data_nasc' para o tipo datetime
df_dados_medicos['data_nasc'] = pd.to_datetime(df_dados_medicos['data_nasc'], format='%d/%m/%Y')

# Criar coluna com ano, mês e dia separados
df_dados_medicos['nasc_ano'] = df_dados_medicos['data_nasc'].dt.year
df_dados_medicos['nasc_mes'] = df_dados_medicos['data_nasc'].dt.month.apply(lambda x: f'{x:02d}')
df_dados_medicos['nasc_dia'] = df_dados_medicos['data_nasc'].dt.day.apply(lambda x: f'{x:02d}')

# Exibir as primeiras 5 linhas
print("DataFrame após pré-processamento:")
print(df_dados_medicos.head().to_string(index=False))

DataFrame após pré-processamento:
                       nome  data_nasc         cpf tipo_sanguineo  peso altura                       nome_array primeiro_nome sobrenome  nasc_ano nasc_mes nasc_dia
   ALICE LIZ ADRIANA DUARTE 1975-10-22 58548099313             O-    89   1,57    [ALICE, LIZ, ADRIANA, DUARTE]         ALICE    DUARTE      1975       10       22
            KAUE CESAR LIMA 1900-01-01 31515413217            AB-    62   1,99              [KAUE, CESAR, LIMA]          KAUE      LIMA      1900       01       01
OTAVIO FELIPE HENRY ALMEIDA 1951-01-10 58271711156             A-    85   1,66 [OTAVIO, FELIPE, HENRY, ALMEIDA]        OTAVIO   ALMEIDA      1951       01       10
   RAFAELA FRANCISCA MENDES 1974-11-07 31087464641             O+    46   1,74     [RAFAELA, FRANCISCA, MENDES]       RAFAELA    MENDES      1974       11       07
 BRYAN JOAQUIM ROBERTO ROSA 1957-09-07 61606247174            AB-    66   1,67  [BRYAN, JOAQUIM, ROBERTO, ROSA]         BRYAN      ROSA      1957       09       07

Exercício 3: Indexação
*    Listar possíveis blocking Keys
*    Definir uma a ser utilizada
*    Criar os blocos
*    Listar os possíveis matches em cada bloco

LISTAR BLOCKING KEYS - Cadastro
* Consulta por CPF

In [85]:
# Criar os blocos com base na chave de bloqueio (cpf)
blocks = df_cadastro.groupby('cpf')

# Listar os possíveis matches em cada bloco
matches = []
for cpf, block in blocks:
    if len(block) > 1:
        block['block_cpf'] = cpf
        matches.append(block)

df_matches = pd.concat(matches)

print("Possíveis matches em cada bloco:")
print(df_matches.to_string(index=False))

Possíveis matches em cada bloco:
                     nome  data_nasc         cpf                        mae     celular                   email  telefone_fixo                    nome_array primeiro_nome sobrenome   block_cpf
MATHEUS ALBUQUERQUE SILVA 19/01/2015 58762423819 MARIANA SANTOS ALBUQUERQUE 11998970549 antonio.silva@gmail.com     1135494656 [MATHEUS, ALBUQUERQUE, SILVA]       MATHEUS     SILVA 58762423819
   ENZO ALBUQUERQUE SILVA 19/01/2015 58762423819 MARIANA SANTOS ALBUQUERQUE 11998970549 antonio.silva@gmail.com     1135494656    [ENZO, ALBUQUERQUE, SILVA]          ENZO     SILVA 58762423819
ANTONIO ALBUQUERQUE SILVA 24/07/1980 58762423819  LAURA ALBUQUERQUE CARDOSO 11998970549 antonio.silva@gmail.com     1135494656 [ANTONIO, ALBUQUERQUE, SILVA]       ANTONIO     SILVA 58762423819

DEFINIÇÃO DE REGRA:
* 6 PRIMEIROS DIGITOS DO CPF
* DATA DE NASCIMENTO SEM CARACTER
* E NOME

In [89]:
# Extrair os 6 primeiros dígitos do CPF
df_cadastro['cpf_prefix'] = df_cadastro['cpf'].str[:6]

# Remover caracteres da data de nascimento e criar nova coluna com a data no formato 'ddmmaaaa'
if 'data_nasc' in df_cadastro.columns:
    df_cadastro['data_nasc_clean'] = df_cadastro['data_nasc'].str.replace('-', '').str.replace('/', '')

# Criar a nova chave combinando CPF completo, Data de Nascimento limpa e Nome
df_cadastro['new_key'] = df_cadastro['cpf'] + df_cadastro['data_nasc_clean'] + df_cadastro['primeiro_nome']

# Criar os blocos com base na nova chave
blocks = df_cadastro.groupby('new_key')

# Listar os possíveis matches em cada bloco
matches = []
for key, block in blocks:
    if len(block) > 1:  # Só consideramos blocos com mais de um registro
        block['block_key'] = key  # Adiciona a chave de bloqueio ao DataFrame
        matches.append(block)

# Verificar o conteúdo de matches
print(f"Número de blocos com possíveis matches: {len(matches)}")
if matches:
    # Concatenar todos os blocos em um único DataFrame
    df_matches = pd.concat(matches, ignore_index=True)

    # Exibir a tabela com possíveis matches
    print("Possíveis matches em cada bloco:")
    print(df_matches.to_string(index=False))
else:
    print("Nenhum bloco com mais de um registro encontrado.")

Número de blocos com possíveis matches: 0
Nenhum bloco com mais de um registro encontrado.

LISTAR BLOCKING KEYS - Dados Médicos
* Consulta por CPF

In [92]:
# Criar os blocos com base na chave de bloqueio (cpf)
blocks = df_dados_medicos.groupby('cpf')

# Listar os possíveis matches em cada bloco
matches = []
for cpf, block in blocks:
    if len(block) > 1:
        block['block_cpf'] = cpf
        matches.append(block)

df_matches = pd.concat(matches)

print("Possíveis matches em cada bloco:")
print(df_matches.to_string(index=False))

Possíveis matches em cada bloco:
                          nome  data_nasc         cpf tipo_sanguineo  peso altura                          nome_array primeiro_nome  sobrenome cpf_prefix data_nasc_clean                       new_key   block_cpf
         BENICIO IAGO SILVEIRA 01/01/1900 00000000000             O+    97   1,72           [BENICIO, IAGO, SILVEIRA]       BENICIO   SILVEIRA     000000        01011900    0000000000001011900BENICIO 00000000000
         BETINA ELAINE DRUMOND 17/08/1995 00000000000            AB-    74   1,58           [BETINA, ELAINE, DRUMOND]        BETINA    DRUMOND     000000        17081995     0000000000017081995BETINA 00000000000
 SANDRA VITORIA LAVINIA BARROS 10/07/1958 00000000000            AB+    85   1,78  [SANDRA, VITORIA, LAVINIA, BARROS]        SANDRA     BARROS     000000        10071958     0000000000010071958SANDRA 00000000000
     PEDRO MARCOS TIAGO GALVAO 08/08/1987 00000000000             B-   101   1,91      [PEDRO, MARCOS, TIAGO, GALVAO]         PEDRO     GALVAO     000000        08081987      0000000000008081987PEDRO 00000000000
        JENNIFER A SABRINA PAZ 20/04/1942 00000000000             O-    71   1,82         [JENNIFER, A, SABRINA, PAZ]      JENNIFER        PAZ     000000        20041942   0000000000020041942JENNIFER 00000000000
    TERESINHA BARBARA BAPTISTA 12/12/1968 00000000000             O+    71   1,78      [TERESINHA, BARBARA, BAPTISTA]     TERESINHA   BAPTISTA     000000        12121968  0000000000012121968TERESINHA 00000000000
          THOMAS GUSTAVO PIRES 24/05/2001 00000000000            AB+    84   1,89            [THOMAS, GUSTAVO, PIRES]        THOMAS      PIRES     000000        24052001     0000000000024052001THOMAS 00000000000
           DIOGO AUGUSTO PIRES 01/06/1984 00000000000            AB+    65   1,80             [DIOGO, AUGUSTO, PIRES]         DIOGO      PIRES     000000        01061984      0000000000001061984DIOGO 00000000000
 FELIPE GERALDO BENEDITO RAMOS 10/12/1945 00000000000             O-    59   1,63  [FELIPE, GERALDO, BENEDITO, RAMOS]        FELIPE      RAMOS     000000        10121945     0000000000010121945FELIPE 00000000000
         ROSANGELA SARA SANTOS 05/04/1999 00000000000             B+    86   1,83           [ROSANGELA, SARA, SANTOS]     ROSANGELA     SANTOS     000000        05041999  0000000000005041999ROSANGELA 00000000000
        CARLOS VICTOR ASSUNCAO 20/02/1999 00000000000            AB-    84   1,96          [CARLOS, VICTOR, ASSUNCAO]        CARLOS   ASSUNCAO     000000        20021999     0000000000020021999CARLOS 00000000000
         VITORIA ANALU BARBOSA 05/08/1974 00000000000             O-    81   1,62           [VITORIA, ANALU, BARBOSA]       VITORIA    BARBOSA     000000        05081974    0000000000005081974VITORIA 00000000000
         EMILLY NICOLE CARDOSO 03/10/1962 00000000000            AB+    68   1,82           [EMILLY, NICOLE, CARDOSO]        EMILLY    CARDOSO     000000        03101962     0000000000003101962EMILLY 00000000000
             MAYA SANDRA PORTO 06/05/1962 00000000000            AB+    85   1,85               [MAYA, SANDRA, PORTO]          MAYA      PORTO     000000        06051962       0000000000006051962MAYA 00000000000
           DIEGO JUAN OLIVEIRA 25/02/1960 00000000000             B+    61   1,61             [DIEGO, JUAN, OLIVEIRA]         DIEGO   OLIVEIRA     000000        25021960      0000000000025021960DIEGO 00000000000
         MELISSA LUZIA REZENDE 01/07/1977 00000000000            AB-    85   1,51           [MELISSA, LUZIA, REZENDE]       MELISSA    REZENDE     000000        01071977    0000000000001071977MELISSA 00000000000
 GABRIEL GIOVANNI EDSON FOGACA 18/06/1996 00000000000             A-    76   1,80  [GABRIEL, GIOVANNI, EDSON, FOGACA]       GABRIEL     FOGACA     000000        18061996    0000000000018061996GABRIEL 00000000000
 JOAQUIM OTAVIO RAFAEL BARBOSA 14/10/1942 00000000000             O+    93   1,82  [JOAQUIM, OTAVIO, RAFAEL, BARBOSA]       JOAQUIM    BARBOSA     000000        14101942    0000000000014101942JOAQUIM 00000000000
JENNIFER CAROLINA MARLENE GONC 21/01/1972 00000000000             A+    54   1,55 [JENNIFER, CAROLINA, MARLENE, GONC]      JENNIFER       GONC     000000        21011972   0000000000021011972JENNIFER 00000000000
        EDSON ELIAS CAVALCANTI 25/09/1956 00000000000             B-    91   1,79          [EDSON, ELIAS, CAVALCANTI]         EDSON CAVALCANTI     000000        25091956      0000000000025091956EDSON 00000000000
  THEO NELSON SERGIO BERNARDES 04/06/1948 00000000000             A+    54   1,76   [THEO, NELSON, SERGIO, BERNARDES]          THEO  BERNARDES     000000        04061948       0000000000004061948THEO 00000000000
            SONIA TANIA BARROS 01/01/1900 00000000000             B+    80   1,58              [SONIA, TANIA, BARROS]         SONIA     BARROS     000000        01011900      0000000000001011900SONIA 00000000000
LARISSA FATIMA CLARICE PEIXOTO 06/03/1981 00000000000             O-    65   1,57 [LARISSA, FATIMA, CLARICE, PEIXOTO]       LARISSA    PEIXOTO     000000        06031981    0000000000006031981LARISSA 00000000000
          ELAINE PRISCILA MELO 27/11/1964 00000000000             A+    59   1,79            [ELAINE, PRISCILA, MELO]        ELAINE       MELO     000000        27111964     0000000000027111964ELAINE 00000000000
       ALESSANDRA LUANA FARIAS 16/02/1982 00000000000             B-    59   1,68         [ALESSANDRA, LUANA, FARIAS]    ALESSANDRA     FARIAS     000000        16021982 0000000000016021982ALESSANDRA 00000000000
              ISIS LAURA BRITO 11/11/1992 00000000000             O-    66   1,77                [ISIS, LAURA, BRITO]          ISIS      BRITO     000000        11111992       0000000000011111992ISIS 00000000000
         LUCIA EMANUELLY SILVA 04/09/1966 00000000000             A-    57   1,54           [LUCIA, EMANUELLY, SILVA]         LUCIA      SILVA     000000        04091966      0000000000004091966LUCIA 00000000000
         VALENTINA ELZA FARIAS 25/11/1996 00000000000            AB+    78   1,62           [VALENTINA, ELZA, FARIAS]     VALENTINA     FARIAS     000000        25111996  0000000000025111996VALENTINA 00000000000
         AYLA CECILIA APARICIO 10/05/1966 00000000000             O+    57   1,58           [AYLA, CECILIA, APARICIO]          AYLA   APARICIO     000000        10051966       0000000000010051966AYLA 00000000000
         MANUEL RODRIGO MORAES 13/03/1900 00000000000            AB+    90   1,72           [MANUEL, RODRIGO, MORAES]        MANUEL     MORAES     000000        13031900     0000000000013031900MANUEL 00000000000
AUGUSTO BENTO MARCOS VINICIUS  12/11/1942 00000000000             O+    77   1,90  [AUGUSTO, BENTO, MARCOS, VINICIUS]       AUGUSTO   VINICIUS     000000        12111942    0000000000012111942AUGUSTO 00000000000
            CESAR THEO BARBOSA 25/06/1954 00000000000             B+    95   1,74              [CESAR, THEO, BARBOSA]         CESAR    BARBOSA     000000        25061954      0000000000025061954CESAR 00000000000
               RYAN THEO PINTO 20/10/1996 00000000000             A-    75   1,75                 [RYAN, THEO, PINTO]          RYAN      PINTO     000000        20101996       0000000000020101996RYAN 00000000000
          BRYAN RAIMUNDO ROCHA 01/01/1900 00000000000             O-    83   1,99            [BRYAN, RAIMUNDO, ROCHA]         BRYAN      ROCHA     000000        01011900      0000000000001011900BRYAN 00000000000
          ENRICO HUGO TEIXEIRA 22/10/1946 00000000000             B+    53   1,79            [ENRICO, HUGO, TEIXEIRA]        ENRICO   TEIXEIRA     000000        22101946     0000000000022101946ENRICO 00000000000
 YURI ALEXANDRE LEONARDO LOPES 03/08/1963 00000000000             O+    92   1,68  [YURI, ALEXANDRE, LEONARDO, LOPES]          YURI      LOPES     000000        03081963       0000000000003081963YURI 00000000000
          YAGO JOSE NASCIMENTO 01/01/1900 00000000000             B-    65   1,79            [YAGO, JOSE, NASCIMENTO]          YAGO NASCIMENTO     000000        01011900       0000000000001011900YAGO 00000000000
         FLAVIA B CARLA CASTRO 01/01/1900 00000000000             A-    81   1,55          [FLAVIA, B, CARLA, CASTRO]        FLAVIA     CASTRO     000000        01011900     0000000000001011900FLAVIA 00000000000
              LAIS RITA CAMPOS 01/01/1900 00000000000            AB-    57   1,61                [LAIS, RITA, CAMPOS]          LAIS     CAMPOS     000000        01011900       0000000000001011900LAIS 00000000000
  ISADORA BEATRIZ PIETRA PAULA 16/06/1985 00000000000             A-    45   1,60   [ISADORA, BEATRIZ, PIETRA, PAULA]       ISADORA      PAULA     000000        16061985    0000000000016061985ISADORA 00000000000
LAVINIA PIETRA RAIMUNDA TEIXEI 01/01/1900 00000000000             O+    77   1,82 [LAVINIA, PIETRA, RAIMUNDA, TEIXEI]       LAVINIA     TEIXEI     000000        01011900    0000000000001011900LAVINIA 00000000000
           EMILY PIETRA NOVAES 11/05/1948 00000000000             O+    59   1,78             [EMILY, PIETRA, NOVAES]         EMILY     NOVAES     000000        11051948      0000000000011051948EMILY 00000000000
          ANDREIA JULIANA MELO 22/02/1948 00000000000             O+    84   1,59            [ANDREIA, JULIANA, MELO]       ANDREIA       MELO     000000        22021948    0000000000022021948ANDREIA 00000000000
          RENATO DANIEL SANTOS 01/01/1900 00000000000            AB-    83   1,60            [RENATO, DANIEL, SANTOS]        RENATO     SANTOS     000000        01011900     0000000000001011900RENATO 00000000000
            DIOGO MANUEL COSTA 07/06/1991 00000000000             B-    63   1,62              [DIOGO, MANUEL, COSTA]         DIOGO      COSTA     000000        07061991      0000000000007061991DIOGO 00000000000
    BENEDITA REGINA CAVALCANTI 19/03/1979 00000000000             A+    87   1,83      [BENEDITA, REGINA, CAVALCANTI]      BENEDITA CAVALCANTI     000000        19031979   0000000000019031979BENEDITA 00000000000
        SOPHIE MARLI RODRIGUES 07/06/1970 00000000000             B+    55   1,80          [SOPHIE, MARLI, RODRIGUES]        SOPHIE  RODRIGUES     000000        07061970     0000000000007061970SOPHIE 00000000000
       BRUNO NOAH OLIVER PAULA 10/06/1955 00000000000             B-    68   1,64        [BRUNO, NOAH, OLIVER, PAULA]         BRUNO      PAULA     000000        10061955      0000000000010061955BRUNO 00000000000
            CLAUDIA TANIA LIMA 17/01/1976 00000000000             A-    55   1,54              [CLAUDIA, TANIA, LIMA]       CLAUDIA       LIMA     000000        17011976    0000000000017011976CLAUDIA 00000000000
            LORENZO JOSE LOPES 16/04/1993 00000000000             O-    80   1,66              [LORENZO, JOSE, LOPES]       LORENZO      LOPES     000000        16041993    0000000000016041993LORENZO 00000000000
    EDSON ISAAC RENATO PEREIRA 05/10/1973 00000000000             B+    83   1,66     [EDSON, ISAAC, RENATO, PEREIRA]         EDSON    PEREIRA     000000        05101973      0000000000005101973EDSON 00000000000
        JOSEFA ISIS EMILY MOTA 13/10/1944 00000000000             A+    77   1,78         [JOSEFA, ISIS, EMILY, MOTA]        JOSEFA       MOTA     000000        13101944     0000000000013101944JOSEFA 00000000000
          MARIAH ELIANE SANTOS 06/04/1980 00000000000             A-    54   1,78            [MARIAH, ELIANE, SANTOS]        MARIAH     SANTOS     000000        06041980     0000000000006041980MARIAH 00000000000
         LETICIA MARCIA VIEIRA 03/01/1968 00000000000             B-    67   1,76           [LETICIA, MARCIA, VIEIRA]       LETICIA     VIEIRA     000000        03011968    0000000000003011968LETICIA 00000000000
RICARDO KEVIN NELSON RODRIGUES 01/01/1900 00000000000             A+   106   1,61 [RICARDO, KEVIN, NELSON, RODRIGUES]       RICARDO  RODRIGUES     000000        01011900    0000000000001011900RICARDO 00000000000
       SEBASTIAO THALES ALMADA 01/01/1900 00000000000             O+   109   1,60         [SEBASTIAO, THALES, ALMADA]     SEBASTIAO     ALMADA     000000        01011900  0000000000001011900SEBASTIAO 00000000000
    VERA MARIANE MARCELA ASSIS 02/03/1978 00000000000             A-    78   1,72     [VERA, MARIANE, MARCELA, ASSIS]          VERA      ASSIS     000000        02031978       0000000000002031978VERA 00000000000
  LAURA SUELI MIRELLA MONTEIRO 19/04/1987 00000000000             A-    90   1,79   [LAURA, SUELI, MIRELLA, MONTEIRO]         LAURA   MONTEIRO     000000        19041987      0000000000019041987LAURA 00000000000
     MARCIA ISABELA ALINE CRUZ 05/11/1981 00000000000            AB+    60   1,80      [MARCIA, ISABELA, ALINE, CRUZ]        MARCIA       CRUZ     000000        05111981     0000000000005111981MARCIA 00000000000
        LAIS PIETRA ALICE CRUZ 15/08/1949 00000000000            AB+    48   1,73         [LAIS, PIETRA, ALICE, CRUZ]          LAIS       CRUZ     000000        15081949       0000000000015081949LAIS 00000000000
           ISADORA LUZIA BRITO 01/01/1900 00000000000             O-    73   1,69             [ISADORA, LUZIA, BRITO]       ISADORA      BRITO     000000        01011900    0000000000001011900ISADORA 00000000000
   BERNARDO R ROBERTO SILVEIRA 03/02/1968 00000000000             B+    84   1,75    [BERNARDO, R, ROBERTO, SILVEIRA]      BERNARDO   SILVEIRA     000000        03021968   0000000000003021968BERNARDO 00000000000
       SILVANA JOANA CONCEICAO 23/08/1971 00000000000            AB+    47   1,56         [SILVANA, JOANA, CONCEICAO]       SILVANA  CONCEICAO     000000        23081971    0000000000023081971SILVANA 00000000000
       RAYSSA D PRISCILA ALVES 21/08/1950 00000000000             O-    55   1,71        [RAYSSA, D, PRISCILA, ALVES]        RAYSSA      ALVES     000000        21081950     0000000000021081950RAYSSA 00000000000
          EMILLY SARAH DRUMOND 15/02/1984 00000000000            AB-    57   1,54            [EMILLY, SARAH, DRUMOND]        EMILLY    DRUMOND     000000        15021984     0000000000015021984EMILLY 00000000000
     MATHEUS ALBUQUERQUE SILVA 19-01-2015 58762423819             A-    13   1,07       [MATHEUS, ALBUQUERQUE, SILVA]       MATHEUS      SILVA     587624        19012015    5876242381919012015MATHEUS 58762423819
        ENZO ALBUQUERQUE SILVA 19-01-2015 58762423819             A-    14   1,04          [ENZO, ALBUQUERQUE, SILVA]          ENZO      SILVA     587624        19012015       5876242381919012015ENZO 58762423819
     ANTONIO ALBUQUERQUE SILVA 24-07-1980 58762423819             A-    80   1,82       [ANTONIO, ALBUQUERQUE, SILVA]       ANTONIO      SILVA     587624        24071980    5876242381924071980ANTONIO 58762423819

In [93]:
# Extrair os 6 primeiros dígitos do CPF
df_dados_medicos['cpf_prefix'] = df_dados_medicos['cpf'].str[:6]

# Remover caracteres da data de nascimento e criar nova coluna com a data no formato 'ddmmaaaa'
if 'data_nasc' in df_dados_medicos.columns:
    df_dados_medicos['data_nasc_clean'] = df_dados_medicos['data_nasc'].str.replace('-', '').str.replace('/', '')

# Criar a nova chave combinando CPF completo, Data de Nascimento limpa e Nome
df_dados_medicos['new_key'] = df_dados_medicos['cpf'] + df_dados_medicos['data_nasc_clean'] + df_dados_medicos['primeiro_nome']

# Criar os blocos com base na nova chave
blocks = df_dados_medicos.groupby('new_key')

# Listar os possíveis matches em cada bloco
matches = []
for key, block in blocks:
    if len(block) > 1:  # Só consideramos blocos com mais de um registro
        block['block_key'] = key  # Adiciona a chave de bloqueio ao DataFrame
        matches.append(block)

# Verificar o conteúdo de matches
print(f"Número de blocos com possíveis matches: {len(matches)}")
if matches:
    # Concatenar todos os blocos em um único DataFrame
    df_matches = pd.concat(matches, ignore_index=True)

    # Exibir a tabela com possíveis matches
    print("Possíveis matches em cada bloco:")
    print(df_matches.to_string(index=False))
else:
    print("Nenhum bloco com mais de um registro encontrado.")

Número de blocos com possíveis matches: 0
Nenhum bloco com mais de um registro encontrado.

Exercício 4: Comparação par a par
*    Desenvolver um algoritmo de comparação de cada match potencial do exercício anterior
*    Definir uma nota de similaridade para cada comparação
 *   Para cada parâmetro

In [ ]:
import pandas as pd
from fuzzywuzzy import fuzz

# Função para calcular a similaridade entre dois registros
def calcular_similaridade(registro1, registro2):
    similaridade = {}

    # Comparar CPF (exemplo simples, você pode usar mais lógica para comparar CPFs)
    similaridade['cpf'] = 100 if registro1['cpf'] == registro2['cpf'] else 0

    # Comparar data de nascimento
    similaridade['data_nasc'] = 100 if registro1['data_nasc_clean'] == registro2['data_nasc_clean'] else 0

    # Comparar nome usando fuzzy matching
    similaridade['nome'] = fuzz.ratio(registro1['primeiro_nome'], registro2['primeiro_nome'])

    # Calcular a nota média de similaridade
    nota_media = sum(similaridade.values()) / len(similaridade)

    return similaridade, nota_media

# Comparar registros dentro de um bloco
def comparar_blocos(bloco):
    similaridade_results = []
    num_registros = len(bloco)

    # Comparar cada par de registros no bloco
    for i in range(num_registros):
        for j in range(i + 1, num_registros):
            registro1 = bloco.iloc[i]
            registro2 = bloco.iloc[j]

            similaridade, nota_media = calcular_similar

Exercício 5: Classificação
*    Classificar cada par, baseado num threshold
*    Definir um peso para cada parâmetro

In [ ]:
#Seu código aqui

Exercício 6: Avaliação
*     Buscar uma amostra das classificações (de 10 a 20 registros)
*     Classificar cada uma em TP, TN, FP, FN
*     Calcular acurácia, precisão e recall

In [ ]:
#Seu código aqui